.header {
  line-height: 60px;
  background: #24292e;
  color: #fff;
  .logo {
    font-size: 24px;
  }
  .nav {
    float: right;
    line-height: 60px;
    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    color: rgba(255,255,255,.75);
    &:hover {
      color: #fff;
    }
    &.active {
      color: #61dafb;
    }
  }
}