html, body, #app, .app-container {
  height: 100%;
}
body {
  font-family: pingfang-sc;
}
.app-content {
  position: relative;
  min-height: calc(100% - 140px);
}
.app-content .app-box {
  position: static;
}
.left {
  float: left;
}

.right {
  float: right;
}

.horizontal {
  font-size: 0;
  & > li {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
  }
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}